@import "./colors.css";

nav{
	/* put nav position the same as the top of what the users see */
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;

}
nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 100%;
}
nav li{
	width: 100%;
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	border-left: 0;
	border-right: 0;
	width: 100%;
}

#dropElements {
	list-style: none;
	text-align: center;
	background-color: var(--dropDown-color);
	border-radius: 0 0 5px 5px;
	border: 1px solid black;
	border-top: 0;
}
#dropElements *:hover {
	background-color: var(--dropDown-color-hover);
	border-radius: 0 0 5px 5px;
	border-top: 0;
}

.activePage {
    /* make the active element have a background that goes from light to dark to light with horizontal shifting */
    background: linear-gradient(90deg, var(--dropDown-color), var(--dropDown-color-hover), var(--dropDown-color));
}
nav a {
	text-decoration: none;
	color: black;
	width: 100%;
}